{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block body %}
    History
{% endblock %}

{% block main %}
    <form action="/history">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Transacted</th>
                </tr>
            </thead>
            <tbody>
                {% for history in history %}
                <tr>
                    <td>{{ history.ordertype }}</td>
                    <td>{{ history.symbol }}</td>
                    <td>{{ history.shares }}</td>
                    <td>{{ history.price }}</td>
                    <td>{{ history.time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

{% endblock %}